:root {
    --primary-color:#0D3D56;
  }

@media screen and (min-width:851px) {
    html{
        font-size: 62.5%;
    }
.nandisamarth-main-container{
    padding: 2rem;
}
.nandisamarth-content-heading{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}
.nandisamarth-content-parra{
    font-size: 1.7rem;
    color: var(--primary-color);
}
}




/* ****************************************Tablet View ***************************************/
@media screen and (min-width:451px) and (max-width:850px) {
    html{
        font-size: 55%;
    }
    .nandisamarth-main-container{
        padding: 2rem;
    }
    .nandisamarth-content-heading{
        font-size: 2rem;
        font-weight: bold;
        color: var(--primary-color);
    }
    .nandisamarth-content-parra{
        font-size: 1.7rem;
        color: var(--primary-color);
    }
}




@media screen and (max-width:450px) {
    html{
        font-size: 45%;
    }
    .nandisamarth-main-container{
        padding: 2rem;
    }
    .nandisamarth-content-heading{
        font-size: 2rem;
        font-weight: bold;
        color: var(--primary-color);
    }
    .nandisamarth-content-parra{
        font-size: 1.7rem;
        color: var(--primary-color);
    }
}  